.idx-aside-container {
    min-height: 100vh;
    display: flex;
    flex-flow: row;
}

.idx-aside-left {
    display: none;
}

.idx-aside-right {
    display: flex;
    flex: 1 1 auto;
}

.idx-image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 1017px) {
    .idx-aside-left{
        display: flex;
        flex: 1 1 auto;
    }

    .idx-aside-left {
        max-width: 50vw;
    }
}

.show {
    display: block !important;
}

.post-content {
    white-space: pre-wrap;
}